body {
    font-family: "Montserrat";
}
#title {
    background-color: #ff4c68;
    color: white;
    padding: 3% 0;  
}
.container-fluid {
    padding: 0 15%;
}
h1 {
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;  
}
h3 {
    font-weight: bold;
}
p {
    color: #8f8f8f;
}
/* Navigation Bar */
.navbar {
    padding-bottom: 4.5rem;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 3rem;
}
.nav-item {
    padding: 0 20px;
}
.nav-link {
    font-size: 1.2rem;
}
/* Title */
.download-button {
    margin: 5% 3% 5% 0;
}
.fa-brands {
    margin-right: 0.7rem;
}
.title-img {
    width: 60%;
    transform: rotate(25deg);
    display: block;
    margin: auto;
}
/* Features */
#features {
    margin: 5% 0;
}
.feature-box {
    text-align: center;
    padding: 0 7%;
}
.icon {
    color: #ef8172;
    margin: 0 0 1rem;    
}
.icon:hover {
    color: #ff4c68;
    margin: 0 0 1rem;    
}